<ion-menu  ></ion-menu>
<ion-header>
  <ion-toolbar >
    <ion-back-button slot="start" defaultHref="/" color="danger" >
      <ion-icon name="arrow-back-circle-outline" color="danger" > </ion-icon> 
    </ion-back-button>
    <ion-title >
      <img src="../../assets/icon/Logo.png"  style="width: 200px;" class="img"   alt="">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="">
  <form action="">
    <br>
    <ion-item  class="text">
      <ion-label class="normal" id="email" >
      </ion-label>
      <ion-input class="normal2 "placeholder="Ingresar Email "   type="email" name="email" required="required"></ion-input>
      <ion-icon  slot="end" name="mail-outline" color="danger"></ion-icon>
    </ion-item>
    <br>
    <ion-button expand="medium" class="bcentrado" color="danger" type="submit"    > 
      Recuperar
    </ion-button>
  </form>
</ion-content>