<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button color="warning" text="Regresar" ></ion-back-button>
    </ion-buttons>

    <ion-title color="warning">Futbol</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Areas Recreativas</ion-card-subtitle>
      <ion-card-title color="warning">Futbol:</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      
      <ion-item>
        <ion-label position="stacked">Canchas</ion-label>
      <ion-select placeholder="Seleccione una cancha" [(ngModel)]="data.cantidad">
        <ion-select-option *ngFor="let niv of niveles" [value]="niv.id">{{niv.nivel}}</ion-select-option>
      </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Pelota</ion-label>
        <ion-input type="number" value="0" min="0" max="1" [(ngModel)]="data.pelota"></ion-input>
        
      </ion-item>
      
      <ion-button shape="block"
                  color="warning"
                  (click)="mostrar()">
        Confirmar
      </ion-button>
      
      <ion-button shape="block"
                  color="primary"
                  (click)="limpiar()">
        Limpiar
      </ion-button>

    </ion-card-content>

  </ion-card>
  </ion-content>
