.encabezado{
    background-color: #ff0018 ;
    border-radius: 30px;
    margin: 20px;
    text-align: center ;
    padding: 10px;
}
.img{
    display: block;
    margin: 0px auto;
   }
.bcentrado {
    width: 200px; 
    margin-left: 50%;
    transform: translateX(-50%);
}
  