<ion-menu  ></ion-menu>
<ion-header>
  <ion-toolbar class="">
    <ion-back-button slot="start" defaultHref="/" color="danger" >
      <ion-icon name="arrow-back-circle-outline" color="danger" > </ion-icon> 
    </ion-back-button>
    <ion-title >
      <img src="../../assets/icon/Logo.png"  style="width: 200px;" class="img"   alt="">
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <ion-button expand="medium" class="bcentrado" color="danger" [routerLink]='["/sesion"]'   > 
    inicio de Sesion
  </ion-button>
  <br>
  <ion-button  expand="full " color="danger" class="bcentrado" [routerLink]='["/registro"]'  > 
    Crear Cuenta
  </ion-button>
</ion-content>

